<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="forkbomb.scrambledeggs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="forkbomb.scrambledeggs.ScrambledEggsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="forkbomb.scrambledeggs.ScrambledEggsRandomActivity"
            android:label="@string/activity_scrambledeggs_random_title"
            android:parentActivityName="forkbomb.scrambledeggs.ScrambledEggsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="forkbomb.scrambledeggs.ScrambledEggsActivity" />
        </activity>
        <activity
            android:name="forkbomb.scrambledeggs.ScrambledEggsQuizActivity"
            android:label="@string/activity_scrambledeggs_quiz_title"
            android:parentActivityName="forkbomb.scrambledeggs.ScrambledEggsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="forkbomb.scrambledeggs.ScrambledEggsActivity" />
        </activity>
        <activity
            android:name="forkbomb.scrambledeggs.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="forkbomb.scrambledeggs.QuizActivity"
            android:parentActivityName="forkbomb.scrambledeggs.ScrambledEggsQuizActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="forkbomb.scrambledeggs.ScrambledEggsQuizActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>